:root {
  box-sizing: border-box;
}

* {
  margin: 0;
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
}
